body {
    background: #000;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #2A2A2A;
}

*::-webkit-scrollbar-track:hover {
    background-color: #2F2F2F;
}

*::-webkit-scrollbar-track:active {
    background-color: #2F2F2F;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #151515;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #1B1B1B;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #1B1B1B;
}




.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_image {
    width: 100%;
    padding-top: 10px;
}

.item_center {
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_image_small {
    width: 60%;
}

.item_title {
    padding: 20px;
    width: 80%;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.8vw;
}

.item_text {
    width: 80%;
    padding: 20px;
}

.item_logo {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 100px;
    z-index: 10;
}

.copyright {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    color: #FFF;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
}

.copyrightlink {
    color: #FFF;
}